# sim65 binary: 12-byte sim65 header, then BASIC loaded at $C000.
MEMORY {
	ZP:		start = $0000, size = $0100, type = rw;
	SIMHDR:		start = $0000, size = $000C, file = %O;
	BASROM:		start = $C000, size = $3F00, fill = no, file = %O;
	DUMMY:		start = $0000, size = $00FF, file = "";
}

SEGMENTS {
	ZEROPAGE:	load = ZP, type = zp;
	SIMHDR:		load = SIMHDR,	type = ro;
	HEADER:		load = BASROM,	type = ro;
	VECTORS:	load = BASROM,	type = ro;
	KEYWORDS:	load = BASROM,	type = ro;
	ERROR:		load = BASROM,	type = ro;
	CODE:		load = BASROM,	type = ro;
	CHRGET:		load = BASROM,	type = ro;
	INIT:		load = BASROM,	type = ro;
	EXTRA:		load = BASROM,	type = ro;
	IORAM:		load = BASROM,	type = rw; # handle_io.s variables (RAM in sim65)
	DUMMY:		load = DUMMY; # don't include
}
